@model KodlaManisa.Models.EntityFramework.tblAtolyeler
@{
    ViewBag.Title = "AtolyeGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:50px">
    <h2>Atolye Güncelleme Sayfası</h2>
</div>
<div style="margin:50px">
    @using (Html.BeginForm("Guncelle", "Atolye", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.AtolyeIlcesi)
            @Html.DropDownListFor(m => m.tblIlceler.IlceID, (List<SelectListItem>)ViewBag.ilce, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AtolyeTuru)
            @Html.DropDownListFor(m => m.tblAtolyeTuru.AtolyeTurID, (List<SelectListItem>)ViewBag.atolyeTuru, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AtolyeAdi)
            @Html.TextBoxFor(m => m.AtolyeAdi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AtolyeAdres)
            @Html.TextBoxFor(m => m.AtolyeAdres, new { @class = "form-control" })
        </div>

        @Html.HiddenFor(m => m.AtolyeID)
        <div style="margin-top:15px">
            <button class="btn btn-info">Güncelle</button>
        </div>
    }
</div>
