
@model KodlaManisa.ViewModels.AtolyeDetayViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "AtolyeDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:30px;">


    <div class="row" style="margin:auto;">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card card-gray-dark">
                <div class="card-header">
                    <h3 class="card-title">@Model.Atolye.Adi</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <img src="../../@Model.Fotograflar.FotografLink" width="300" title="FOTOĞRAFI BÜYÜTMEK İÇİN TIKLA" alt="FOTOĞRAFI BÜYÜTMEK İÇİN TIKLA" align="left" class="img-thumbnail" data-toggle="modal" data-target="#myModal">
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">

                                    <img src="../../@Model.Fotograflar.FotografLink" width="800" class="img-thumbnail" data-toggle="modal" data-target="#myModal">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="alert alert-info" role="alert">
                            <b>Çalışma Saatleri:</b> @Model.Atolye.CalismaSaati<br><br><br>
                            <b>Adres:</b> @Model.Atolye.Adres <br>
                        </div></br>



                    </div>
                </div>
                <div class="alert alert-default-light" role="alert">
                    @*Sosyal Medya Hesap Linklerini DB den çekecek ve tıklayınca Sosyal medya hesaplarına link edecek.*@
                    <a href="@Model.Atolye.AtolyeFacebook"><img src="~/Content/dist/img/fb.png" border="0"></a>
                    <a href="@Model.Atolye.AtolyeTwitter"><img src="~/Content/dist/img/tw.png" border="0"></a>
                    <a href="@Model.Atolye.AtolyeInstagram"><img src="~/Content/dist/img/ins.png" border="0"></a>
                    <a href="@Model.Atolye.AtolyeInstagram"><img src="~/Content/dist/img/yt.png" border="0"></a>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <br>
                        <div class="list-group">
                            <a href="#" class="list-group-item active"> Atölye Sorumlusu  </a>
                            <div style="margin:auto;">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><b> @Model.Atolye.OgretmenAdi @Model.Atolye.OgretmenSoyadi</b></span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card card-gray-dark">
                <div class="card-header">
                    <div style="float:right; position: relative;  top:-8px">
                        <div class="col-sm-12 col-md-6" style="float:unset; position: relative; top: 8px">
                            <form method="POST" action="#">
                                <input type="hidden" name="islem" size="4" value="ekle">
                                <input type="submit" class="btn btn-info btn-sm" value="MALZEME EKLE" name="B1">
                            </form>
                        </div>

                    </div>
                    <h3 class="card-title">ATÖLYE MALZEMELERİ</h3>
                </div>


                <table border="1" class="table table-bordered table-hover">
                    <tr>

                        <td width="20%"><p>Adı</p></td>
                        <td width="10%"><p>Adedi</p></td>
                        <td width="20%"><p>Temin Şekli</p></td>
                        <td width="25%"><p>Temin Tarihi</p></td>
                        <td width="15%"><p>Durumu</p></td>

                    </tr>
                    <tbody>
                        @foreach (var malzeme in Model.Malzemeler)
                        {
                            <tr>

                                <td>@malzeme.MalzemeAdi</td>
                                <td>@malzeme.MalzemeAdedi</td>
                                <td>@malzeme.MalzemeTeminSekli</td>
                                <td>@Html.DisplayFor(m => malzeme.TeminTarihi.Year, new { @class = "form-control", type = "date" })</td>
                                <td>@malzeme.MalzemeDurumu</td>

                            </tr>
                        }

                    </tbody>


                </table>


            </div>
        </div>


    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-gray-dark">

                <div class="card-header">
                    <div style="float:right; position: relative;  top:-8px">
                        <div class="col-sm-12 col-md-6" style="float:unset; position: relative; top: 8px">
                            <form method="POST" action="#">
                                <input type="hidden" name="islem" size="4" value="ekle">
                                <input type="submit" class="btn btn-info btn-sm" value="YENİ KURS EKLE" name="B1">
                            </form>
                        </div>

                    </div>
                    <h3 class="card-title">ATÖLYEDE DEVAM EDEN KURSLAR</h3>

                </div>

                <table border="1" class="table table-bordered table-hover">
                    <tr class="active">

                        <td>KURS ADI</td>
                        <td>KURS SEVİYESİ</td>
                        <td>KURS GRUBU</td>
                        <td>KURS ÖĞRETMENİ</td>
                        <td>KURS GÜNÜ</td>
                        <td>SAATİ</td>
                        <td>İŞLEMLER</td>
                    </tr>
                    <tbody>
                        @foreach (var kurs in Model.Kurslar)
                        {
                            <tr>

                                <td>@kurs.KursTuru</td>
                                <td>@kurs.KursSeviyesi</td>
                                <td>@kurs.KursGrubu</td>
                                @*Bilgileri değiştirip Güncelle Butonuna tıklayınca tüm bilgiler değişiyor öğretmen bilgisi değişmediği için hata üretiyor*@
                                @*<td>@kurs.Atolye.Ogretmen.OgretmenAdi @kurs.Atolye.Ogretmen.OgretmenSoyadi</td>*@
                                <td>@kurs.Ogretmen.OgretmenAdi @kurs.Ogretmen.OgretmenSoyadi</td>
                                <td>@kurs.GrupGunu</td>
                                <td>@kurs.GrupSaati</td>
                                <td>
                                    <a href="/Atolye/KursOgrencileri/@kurs.ID" class="btn btn-info">Kurs Öğrencileri</a>
                                    <a href="/Atolye/KursDuzenle/@kurs.ID" class="btn btn-success">Kursu Düzenle</a>

                                </td>

                            </tr>
                        }

                    </tbody>




                </table>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-gray-dark">
                <div class="card-header">
                    <div style="float:right; position: relative;  top:-8px">
                        <div class="col-sm-12 col-md-6" style="float:unset; position: relative; top: 8px">
                            <form method="POST" action="#">
                                <input type="hidden" name="islem" size="4" value="ekle">
                                <input type="submit" class="btn btn-info btn-sm" value="ÖĞRENCİ EKLE" name="B1">
                            </form>
                        </div>

                    </div>
                    <h3 class="card-title">ATÖLYEYE DEVAM EDEN ÖĞRENCİLER</h3>
                </div>

                <table border="1" class="table table-bordered table-hover">
                    <tr class="active">

                        <td>ADI SOYADI</td>
                        <td>OKULU</td>
                        <td>SINIFI</td>
                        <td>DEVAM ETTİĞİ KURS</td>
                        <td>İŞLEMLER</td>
                    </tr>

                    <tbody>
                        @foreach (var ogrenci in Model.KursOgrencileri)
                        {
                            <tr>
                                <td>@ogrenci.Ogrenci.OgrenciAdi @ogrenci.Ogrenci.OgrenciSoyadi</td>
                                @*Bağlı Tablolardan Okul Bilgisi Çekilecek...*@
                                <td>@ogrenci.Ogrenci.Ogretmen.OkulOgretmenler.Select(i => i.Okul.OkulAdi).Single()</td>
                                @*<td>@Model.OgrenciOkul.Where(i=>i.Ogrenci.ID==ogrenci.Ogrenci.ID).Single() </td>*@
                                <td>@ogrenci.Ogrenci.OkulSinif.SinifAdi</td>
                                <td>@ogrenci.AtolyeKurs.KursTuru - @ogrenci.AtolyeKurs.KursGrubu</td>
                                <td>
                                    <a href="/Ogrenci/OgrenciDetay/@ogrenci.Ogrenci.ID" class="btn btn-outline-dark btn-sm">Öğrenci Profili</a>
                                </td>

                            </tr>
                        }

                    </tbody>


                </table>
            </div>
        </div>
    </div>

</div>