@using KodlaManisa.Models
@model List<tblOkullar>
@{
    ViewBag.Title = "Okullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h1 class="card-title" style="margin-top:8px">OKULLAR</h1><a href="/Okul/OkulEkle" class="btn btn-primary" style="float:right">Yeni Okul Kaydı</a>
                <div class="col-sm-12 col-md-3" style="float:right; ">

                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin:10px">
    <table class="table table-bordered">
        <tr>
            <th>OKUL ADI</th>
            <th>OKUL TÜRÜ</th>
            <th>İLÇESİ</th>
            <th>OKUL TEL</th>
            <th>OKUL EPOSTA</th>
            <th>İŞLEMLER</th>

        </tr>
        <tbody>
            @foreach (var okul in Model)
            {
            <tr>
                <td>@okul.OkulAdi</td>
                <td>@okul.tblOkulTuru.OkulTuru</td>
                <td>@okul.tblIlceler.IlceAdi</td>
                <td>@okul.OkulTel</td>
                <td>@okul.OkulEposta</td>
                <td>
                    <a href="/Okul/Sil/@okul.ID" class="btn btn-danger">Sil</a>
                    <a href="/Okul/OkulGuncelle/@okul.ID" class="btn btn-success">Düzenle</a>
                    <a href="/Okul/OkulDetay/@okul.ID" class="btn btn-info">Detay</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a href="/Okul/OkulEkle" class="btn btn-primary">Yeni Okul Kaydı</a>
</div>
